.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loginWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 8px 1px #ccc;

    .loginWindowTitle {
      margin-bottom: 10px
    }

    .discordButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #7289da;
      font-weight: bold;
      color: white;
      font-size: 20px;
      line-height: 20px;
      padding: auto 15px;

      img {
        width: 30px;
        margin-right: 5px;
      }
    }

    .avatar {
      border-radius: 50%;
      margin: -70px 0 5px;
      box-shadow: 0 0 5px 1px black;
      width: 125px;
    }

    .username {
      font-weight: bold;
      font-size: 25px;
    }

    .discriminator {
      font-weight: normal;
      font-size: 11px;
    }

    .logoutButton {
      margin-top: 10px;
      font-weight: bold;
      background-color: rgb(218, 74, 74);
      color: white;
    }
  }
}
